body, html {
  background-image: url("background.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  font-weight: 400;
  line-height: 1;
  color: white;
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
}

.form-inline {
  text-align: center;
  padding-bottom: 50px;
}

.btn.btn-success {
  margin-left: .5rem;
}

p {
  margin-top: 1rem !important;
}

.card {
  width: 40%;
  margin-left: 30%;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

input {
  /*margin-top: .7rem !important;*/
  margin-bottom: .5rem;
}

.btn-primary-outline {
  border: none !important;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@media(max-width:47.9em) {
  .title {
    font-size: 80px;
  }
  .card {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 33.99em) {
  .btn.btn-success {
    margin-top: .5rem;
  }
}
